* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

@media screen and (width > 375px) {
  body {
    background-color: hsl(217deg, 54%, 11%);
  }
  body .container {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    max-width: 25rem;
    margin: 10rem auto;
    padding: 2rem;
    background-color: hsl(216deg, 50%, 16%);
    color: hsl(215deg, 51%, 70%);
    font-size: 18px;
  }
  body .container .cover {
    max-width: 335px;
    border-radius: 10px;
  }
  body .container .cover:hover {
    background-color: hsl(178deg, 100%, 50%);
    cursor: pointer;
  }
  body .container .image {
    position: absolute;
    min-height: 335px;
    min-width: 335px;
    background-color: hsla(178deg, 100%, 50%, 0.6);
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }
  body .container .image:hover {
    opacity: 100%;
  }
  body .container .image .view-image {
    position: absolute;
    top: 9rem;
    left: 9rem;
  }
  body .container .nft {
    cursor: pointer;
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  body .container .nft:active :focus {
    color: hsl(178deg, 100%, 50%);
  }
  body .container .nft:hover {
    color: hsl(178deg, 100%, 50%);
  }
  body .container .nft-text {
    line-height: 1.7;
    font-size: 1.32rem;
    font-weight: 300;
  }
  body .container .nft-rank {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  body .container .nft-rank svg {
    margin-right: 0.8rem;
    margin-top: 2px;
  }
  body .container .nft-rank .left {
    margin-right: auto;
    font-weight: 600;
    color: hsl(178deg, 100%, 50%);
  }
  body .container .divider {
    min-height: 2px;
    max-width: 340px;
    background-color: hsl(215deg, 32%, 27%);
    margin-bottom: 1.5rem;
  }
  body .container .createdby {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
    color: hsl(215deg, 51%, 70%);
  }
  body .container .createdby .avatar {
    width: 2.5rem;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 1rem;
  }
  body .container .createdby .created-text span {
    margin-left: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  body .container .createdby .created-text span:active,
body .container .createdby .created-text span :focus {
    color: hsl(178deg, 100%, 50%);
  }
  body .container .createdby .created-text span:hover {
    color: hsl(178deg, 100%, 50%);
  }
}
@media (width <= 375px) {
  body {
    background-color: hsl(217deg, 54%, 11%);
  }
  body .container {
    max-width: 21rem;
    padding: 1.3rem;
    margin: 2.4rem auto;
    background-color: hsl(216deg, 50%, 16%);
    color: hsl(215deg, 51%, 70%);
    font-size: 18px;
  }
  body .container .cover {
    max-width: 295px;
    border-radius: 10px;
  }
  body .container .cover:hover {
    background-color: hsl(178deg, 100%, 50%);
    cursor: pointer;
  }
  body .container .image {
    position: absolute;
    max-height: 295px;
    max-width: 295px;
    background-color: hsla(178deg, 100%, 50%, 0.6);
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }
  body .container .image:hover {
    opacity: 100;
  }
  body .container .image .view-image {
    position: absolute;
    bottom: 7.8rem;
    left: 7.8rem;
  }
  body .container .nft {
    cursor: pointer;
    color: hsl(0deg, 0%, 100%);
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
  }
  body .container .nft:active :focus {
    color: hsl(178deg, 100%, 50%);
  }
  body .container .nft:hover {
    color: hsl(178deg, 100%, 50%);
  }
  body .container .nft-text {
    line-height: 1.7;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  body .container .nft-rank {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  body .container .nft-rank svg {
    margin-right: 0.8rem;
  }
  body .container .nft-rank .left {
    margin-right: auto;
    font-weight: 600;
    color: hsl(178deg, 100%, 50%);
  }
  body .container .divider {
    min-height: 2px;
    max-width: 340px;
    background-color: hsl(215deg, 32%, 27%);
  }
  body .container .createdby {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8rem;
    color: hsl(215deg, 51%, 70%);
  }
  body .container .createdby .avatar {
    width: 2rem;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 0.8rem;
  }
  body .container .createdby .created-text span {
    margin-left: 5px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  body .container .createdby .created-text span:active,
body .container .createdby .created-text span :focus {
    color: hsl(178deg, 100%, 50%);
  }
  body .container .createdby .created-text span:hover {
    color: hsl(178deg, 100%, 50%);
  }
}

/*# sourceMappingURL=style.css.map */
